*
{
    background-color: #242324;
    color: #FFF700;
    font-family: 'PT Sans', sans-serif;
}

.header
{
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.section
{
    float: center;
    padding: 1px 400px 400px 400px;
    display: block;
}

.section img 
{
    width: 50%;
    padding-left: 250px;
}

a
{
    float: left;
    display: block;
}